<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<title>Insert title here</title>
<style>
	.table{
		margin-top: 30px;
		display: none;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/all">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/all">Home <span
						class="sr-only">(current)</span></a> <a class="nav-item nav-link" href="/all">Students</a>
						<a class="nav-item nav-link" href="/all">Students</a>
                        <a class="nav-item nav-link" href="/room">Rooms</a>
                        <a class="nav-item nav-link" href="/service">service</a>
                        <a class="nav-item nav-link" href="/getTicket">getTicket</a>
                        <a class="nav-item nav-link" href="/all/allGuest">Guest</a>
				</div>
			</div>
		</nav>
		<h1>Room Info</h1>
		<form th:action="@{/room}" th:object="${room}" method="POST">
			<div th:if="${#fields.hasErrors()}">
				<span style="color: red" class="validationError"> Please
					correct the problems below and resubmit. </span>
			</div>
			<div class="form-group">
				<label for="sv_id">Room ID</label> <input type="text"
					class="form-control" id="id" placeholder="Id"
					th:field="*{id}"> <span style="color: red"
					class="validationError" th:if="${#fields.hasErrors('id')}"
					th:errors="*{id}">Must have id</span>
			</div>
			<div class="form-group">
				<label for="type">Type</label> <input type="text"
					class="form-control" id="sv_cmt" placeholder="type"
					th:field="*{type}"> <span style="color: red"
					class="validationError" th:if="${#fields.hasErrors('type')}"
					th:errors="*{type}">Type Error</span>
			</div>
			<div class="form-group">
				<label for="price">Price</label> <input type="text"
					class="form-control" id="price" placeholder="price"
					th:field="*{price}">
			</div>
			<div class="form-group">
				<label for="maximum">Class</label> <input type="text"
					class="form-control" id="maximum" placeholder="maximum"
					th:field="*{maximum}"><span style="color: red"
					class="validationError" th:if="${#fields.hasErrors('maximum')}"
					th:errors="*{maximum}">Maximum Error</span>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<a href="#" id = "link">View all student in this room .</a>
		<div class="container-fluid" id="studentForm">

		<table class="table" id = "table">
			<tr>
				<td>Id</td>
				<td>Cmt</td>
				<td>Date of Birth</td>
				<td>Class</td>
				<td>Country</td>
				<td></td>
				<td></td>
			</tr>
			<tr th:each="student : ${room.getStudents()}">
				<td th:text=${student.sv_id}></td>
				<td th:text=${student.sv_cmt}></td>
				<td th:text=${student.sv_date}></td>
				<td th:text=${student.sv_class}></td>
				<td th:text=${student.sv_country}></td>
				<td><a th:href="@{/details(sv_id=${student.sv_id})}">Info</a></td>
				<td><a th:href="@{/room_details/changeRoom(sv_id=${student.sv_id})}">Pay or Change Room</a></td>
			</tr>
		</table>
		</div>
	</div>
</body>
<script>
	$("#link").click(function(){
		$(".table").css("display","block");
	});
</script>
</html>