<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<title>Insert title here</title>
<script th:inline="javascript">
	/*<![CDATA[*/
	
		var message = /*[[${mess}]]*/ 'default';
		if(message === null){
			
		}
		else{
			alert(message);
		}
	/*]]>*/
    </script>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/all">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/all">Home <span
						class="sr-only">(current)</span></a> 
						<a class="nav-item nav-link" href="/all">Students</a>
                        <a class="nav-item nav-link" href="/room">Rooms</a>
                        <a class="nav-item nav-link" href="/service">service</a>
                        <a class="nav-item nav-link" href="/getTicket">getTicket</a>
                        <a class="nav-item nav-link" href="/all/allGuest">Guest</a>
				</div>
			</div>
		</nav>
		<div class="container_fruid">
            <h1>All service of Student </h1>
            <form action="/service/search">
                <label for="heloo">Start</label>
                <input type="date" name = "start" placeholder="get Month" id = "hello" class="form-control">
                <label for="heloo">End</label>
                <input type="date" name = "end" placeholder="get Month" id = "hello" class="form-control">
                <br/>
                <button class="btn btn-primary">Search</button>
            </form>
            <table class="table">
                <tr>
                    <td>id</td>
                    <td>Buy At</td>
                    <td>Service_ name</td>
                    <td>Service_price</td>
                    <td>Time to use</td>
                </tr>
                <tr th:each="service : ${list1}">
                    <td th:text=${service.id}></td>
                    <td th:text=${service.buyAt}></td>
                    <td th:text=${service.Service.service_name}></td>
                    <td th:text=${service.Service.price}></td>
                    <td th:text=${service.end}></td>
                </tr>
            </table>
            <h2>Room Service</h2>
            <table class="table">
                <tr>
                    <td>id</td>
                    <td>created At</td>
                    <td>room Name</td>
                    <td>room price</td>
                </tr>
                <tr th:each="service : ${list2}">
                    <td th:text=${service.id}></td>
                    <td th:text=${service.createdAt}></td>
                    <td th:text=${service.room.id}></td>
                    <td th:text=${service.room.price}></td>
                </tr>
            </table>
            <div class="container_fruid" id="cart" style="display: flex; justify-content: space-between;">
                <form action="/service/pay" method="POST">
                    <h2 th:text = ${price}></h2>
                    <button class="btn btn-danger">Pay All</button>
                </form>
                    <form action="/service/view">
                        <h2 th:text = ${price} style="color: white;"></h2>
                        <button class="btn btn-danger">View All</button>
                    </form>
            </div>
		</div>

</div>
</body>
</html>